html,
body {
  margin: 0;
}

main {
  width: 700px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* HEADER */

.header_logo {
  margin: 10px 0px 10px 38px;
}

.header_menu {
  background-color: lightgray;
  margin: 0;
  border-left: none;
  border-right: none;
  border: 1px black solid;
}

.header_menu_item {
  list-style: none;
  padding-right: 15px;
}

.header_menu_item {
  font-family: LucidaGrande;
  display: inline;
  font-size: 24px;
  color: #333333;
  text-align: left;
  line-height: 36px;
  text-decoration: none;
  cursor: pointer;
}

.header_menu_item_link {
  text-decoration: none;
}

.header_menu_item_link:hover {
  text-decoration: underline;
}

.header_menu_item_link:visited {
  color: red;
}

/* MAIN */

.title {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Arial, sans-serif;
  margin-bottom: 10px;
}

.simple_text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 33px;
}

.title,
.simple_text {
  color: rgba(0, 0, 0, 0.84);
  text-align: left;
}

.text_block {
  margin-bottom: 30px;
}

h1 {
  font-size: 42px;
  line-height: 44px;
}

h2 {
  font-size: 34px;
  line-height: 39px;
}

code {
  font-family: "Courier New", monospace;
  background-color: rgb(242, 242, 242);
  color: rgb(96, 96, 96);
}

@media (max-width: 800px) {
  h1 {
    font-family: LucidaGrande-Bold;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 28px;
  }
  h2 {
    font-family: LucidaGrande-Bold;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 39px;
  }
}
